<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sec="http://www.springframework.org/schema/security" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd   
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd   
	http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-3.1.xsd
	">
	
	<!-- Service基类 -->
	<bean id="baseService" class="com.haiegoo.commons.service.BaseService" abstract="true">
	</bean>
	
	
	
	<!-- =========================以下配置是Service服务类======================== -->

	<!-- 后台用户 -->
	<bean id="adminService" class="com.haiegoo.ucenter.service.admin.impl.AdminServiceImpl" parent="baseService" scope="singleton">
	</bean>
	
	<!-- 后台角色 -->
	<bean id="roleService" class="com.haiegoo.ucenter.service.admin.impl.RoleServiceImpl" parent="baseService" scope="singleton">
	</bean>
	
	<!-- 后台模块-->
	<bean id="moduleService" class="com.haiegoo.ucenter.service.admin.impl.ModuleServiceImpl" parent="baseService" scope="singleton">
	</bean>

	<!-- 前台用户 -->
	<bean id="userService" class="com.haiegoo.ucenter.service.user.impl.UserServiceImpl" parent="baseService" scope="singleton">
	</bean>
	
	<!-- 行政区划 -->
	<bean id="cityService" class="com.haiegoo.ucenter.service.user.impl.CityServiceImpl" parent="baseService" scope="singleton">
	</bean>
	
			
</beans>