<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 开启Spring的注解处理器 -->
	<context:annotation-config/>
	
	<!-- ViewResolver配置 -->
	<bean id="ViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 文件上传表单的视图解析器 -->  
    <bean id="multipartResolver"    
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">   
        <property name="maxUploadSize" value="2048000" />    
    </bean>

	<!-- ============================= 商品管理 ============================= -->
	
	<!-- 我要卖 -->
	<bean name="/product/ProductPublish.jspx" class="com.haiegoo.shopmng.web.product.ProductPublishAction">
	</bean>
	
	<!-- 出售中的商品 -->
	<bean name="/product/ProductManager.jspx" class="com.haiegoo.shopmng.web.product.ProductManagerAction">
	</bean>
	
	
</beans>