<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<!-- Service基类 -->
	<bean id="baseService" class="com.haiegoo.commons.service.BaseService" abstract="true">
	</bean>
	
	<!-- =========================以下配置是Service服务类======================== -->

	<!-- 商品 -->
	<bean id="productService" class="com.haiegoo.shopping.service.product.impl.ProductServiceImpl" parent="baseService" scope="singleton">
	</bean>

	<!-- 品牌 -->
	<bean id="brandService" class="com.haiegoo.shopping.service.product.impl.BrandServiceImpl" parent="baseService" scope="singleton">
	</bean>
	
	<!-- 分类 -->
	<bean id="categoryService" class="com.haiegoo.shopping.service.product.impl.CategoryServiceImpl" parent="baseService" scope="singleton">
	</bean>

	<!-- 规格 -->
	<bean id="specificationService" class="com.haiegoo.shopping.service.product.impl.SpecificationServiceImpl" parent="baseService" scope="singleton">
	</bean>

	<!-- 属性 -->
	<bean id="propertyService" class="com.haiegoo.shopping.service.product.impl.PropertyServiceImpl" parent="baseService" scope="singleton">
	</bean>
			
</beans>